In [1]:
import os
import conda
import pandas as pd
import numpy as np
import json
# from shapely.geometry import Polygon as Poly

pd.options.display.max_columns = 250

conda_file_dir = conda.__file__
conda_dir = conda_file_dir.split('lib')[0]
proj_lib = os.path.join(os.path.join(conda_dir, 'share'), 'proj')
os.environ["PROJ_LIB"] = proj_lib

In [3]:
TSI_df = pd.read_csv('TSI_TOTAL_i.csv')
TSI_df

,HUC_8,CHLX_RESULT,TSI,PTL,UID,CHLL_DILUTION_FACTOR,CHLL_EXTRACT,CHLL_HOLDING_TIME,CHLL_MDL,CHLL_RESULT,CHLL_RL,CHLL_SAMPLEVOL,CHLL_VOLUME_ADJUST,CHLX_DILUTION_FACTOR,CHLX_EXTRACT,CHLX_HOLDING_TIME,CHLX_MDL,CHLX_RL,CHLX_SAMPLEVOL,CHLX_VOLUME_ADJUST,LAT_DD83,LON_DD83,TSI_y,_merge,Trophic Class
0,1010002,3.356000,42.477455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mesotrophic
1,1010003,2.888686,41.006464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mesotrophic
2,1010004,4.922000,46.234344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mesotrophic
3,1020001,2.170500,38.202334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oligotrophic
4,1020002,9.504000,52.689302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eutrophic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1477,10260014,NaN,89.044836,360.43005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,Hypereutrophic
1478,17010201,NaN,35.880049,9.02880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,Oligotrophic
1479,17040212,NaN,68.874792,88.99170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,Eutrophic
1480,17110014,NaN,57.338918,39.98690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,Eutrophic
1481,5030104,NaN,76.092288,146.79880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,Hypereutrophic

In [8]:
TSI_EPAREVIEW = pd.DataFrame()
TSI_EPAREVIEW['HUC_8'] = TSI_df['HUC_8']
TSI_EPAREVIEW['CHLX_RESULT (average chlorophyll-a concentration in water in the watershed)  (ug/L)'] = TSI_df['CHLX_RESULT']
TSI_EPAREVIEW['PTL (average phosphorus concentration in water in the watershed)  (ug/L)'] = TSI_df['PTL']
TSI_EPAREVIEW['TSI (dimensionless metric)'] = TSI_df['TSI']
TSI_EPAREVIEW.to_csv('TSI_TOTAL_formated.csv', index=None)
TSI_EPAREVIEW

,HUC_8,CHLX_RESULT (average chlorophyll-a concentration in water in the watershed) (ug/L),PTL (average phosphorus concentration in water in the watershed) (ug/L),TSI (dimensionless metric)
0,1010002,3.356000,NaN,42.477455
1,1010003,2.888686,NaN,41.006464
2,1010004,4.922000,NaN,46.234344
3,1020001,2.170500,NaN,38.202334
4,1020002,9.504000,NaN,52.689302
...,...,...,...,...
1477,10260014,NaN,360.43005,89.044836
1478,17010201,NaN,9.02880,35.880049
1479,17040212,NaN,88.99170,68.874792
1480,17110014,NaN,39.98690,57.338918
1481,5030104,NaN,146.79880,76.092288